---
BasedOnStyle: LLVM
AlignAfterOpenBracket: Align
BreakBeforeBraces: Stroustrup
ColumnLimit: '100'
DerivePointerAlignment: 'false'
IndentWidth: '4'
Language: Cpp
PointerAlignment: Left
ReflowComments: 'true'
SpaceInEmptyParentheses: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
Standard: Auto
TabWidth: '4'
UseTab: Never

...
