*~
\#*
BaBar/BField/
BaBar/BaBar/
BaBar/BbrGeom/
BaBar/CLHEP/
BaBar/Dch/
BaBar/DetectorModel/
BaBar/KalmanTrack/
BaBar/MatEnv/
BaBar/ProbTools/
BaBar/TrajGeom/
BaBar/TrkBase/
BaBar/difAlgebra/
.sconsign.dblite
bin/artProductSizes
bin/eventCount
bin/valCompare
bin/dbTool
bin/deps
lib
tmp
gen
*.stn
*.hist
*.o
*.so
*.os
*.root
*.art
*.log
*.log.*
*.pdf
*.pyc
*.orig
*nfs
*.bz2
*.swp
BaBar/include
EMFCAnalysis
.tup
.buildopts
tags
.clangd/*
compile_commands.json
spack-*
build-*
Offline
